<!DOCTYPE html>
<html ng-app="pacApp" ng-strict-di>
<head>
	<title>Promises vs Callbacks</title>
	<!-- build:css({.tmp,.}) app.css -->
	<link href="bundle.css" rel='stylesheet' type='text/css'>
	<!-- endbuild -->

	<style>
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		display: none !important;
	}
	</style>
</head>
<body ng-cloak>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/">Promises vs Callbacks</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
	            <ul class="nav navbar-nav navbar-right">
	              <li><a href="https://github.com/drpicox" target="_blank">@drpicox</a></li>
	            </ul>
          </div>
		</div>
	</nav>

	<div class="container">
		<div class="jumbotron">
			<pac-book-overview></pac-book-overview>
			<p><a class="btn btn-primary btn-lg" href ng-click="seeMore = true" role="button" target="_blank">See more</a></p>
		</div>
	</div>

	<div class="container" ng-if="seeMore">
		<div class="well">
			<pac-book-details></pac-book-details>
		</div>
	</div>


	<!-- build:js({.tmp,.}) app.js -->
	<script src="bundle.js"></script>
	<!-- endbuild -->
</body>
</html>